#site{
	margin-top: auto;
	padding: 0;
	width: 100%;
}

header{
	font-size: 9.8vw;
	background: #aaaaaa;
	height: 150px;
	margin: 0px;
	border-style: dotted;
}

#menu_superior{
	background: #444444;
	padding-top: 10px;
	height: 100px;
	width: 100%;
}

#menu_lateral{
	font-size: 0.8vw; /* unidade responsiva */
	background: #AA6622;
	float: left;
	height: 100%;
	width: 150px;
	margin:left;
}

ul{
	list-style-type: none;
}

#menu_superior li{
	float: left;
}

#menu_superior li a{
	color: black;
	font-weight: bold;
	text-decoration: none;
	list-style-type: none;
	display: block;
	padding: 2.8vh 2.8vw;
	border: solid 2px black;
	margin-left: -2px;

}

#menu_superior li a:hover{
	background: #111111;
	color: #FFF;
}

#menu_lateral li a:hover{
	background: #111111;
	margin: auto;
	color: #FFF;
}

#menu_lateral li{
	float: bottom;
}

#menu_lateral ul, li{
	margin: 0; padding: 0; /* ul e li tem alinhamentos default, precisamos zerá-los */
}


#menu_lateral li a{
	text-align: center;
	color: black;
	font-weight: bold;
	text-decoration: none;
	list-style-type: none;
	display: block;
	padding: 20px 10px;
	border: solid 2px black;
	border: -2px;
}

#corpo{
	background: #AAAAAA;
	height: 500px;
	margin: 10px;
}

footer{
	font-weight: bold;
	text-align: center;
	background-color: #444444;
}